
<div class='recipe'>
    <h5>{{recipe.title}}</h5>
    <div class="cover-photo-holder" style="float: right">
        <img src="{{recipe.cover_photo}}" style="width: 100px; height: 100px; margin: 2px" />
    </div>
    <p>{{recipe.desc}}</p>
    <div>
        <div style="float: left; font-weight: bold; width: 150px">Preparation Time:</div>
        <div>{{recipe.preparation_time}}</div>

        <div style="float: left; font-weight: bold; width: 150px">Serving For:</div>
        <div>{{recipe.feeds_this_many}}</div>
    </div>

    <div class='ingredients'>
        <h4> Ingredients: </h4>
        <ul>
            <li class='ingredient' *ngFor='let ingredient of recipe.ingredients'>
            {{ ingredient.ingredient }} 
            <span style="color: grey" >({{ ingredient.measure }}) </span>
            </li>
        </ul>
    </div>

    <div class='instructions'>
        <h4> Preparation Instructions: </h4>
        <ul>
            <li class='instruction' *ngFor='let instruction of recipe.instructions'>
            {{ instruction.instruction }} 
            </li>
        </ul>
    </div>

</div>