
div.cover-photo-holder img {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.recipe{
    float:left;
    width: 97%;
    margin: 10px 0;
}

div.recipe h4 {
    font-size: 120%;
    margin: 10px 0;
}

@media (min-width: 880px) {
    .recipe {
        width: 500px;
        margin: 10px 10px;
    }
}