h1 {
    font-size: 200%;
}

div.input-group {
    margin: 10px 0;
}

.darkbg {
    background-color: #aaaaaa;
}

div.recipe h4 {
    font-size: 120%;
    margin: 10px;
}

div.recipe p{
    margin-bottom: 10px;
}
div.recipe div.subtitle {
    float: left;
    font-weight: bold;
    width: 150px;
}


div.ingredients li, div.instructions li {
    padding: 2px 0;
}
div.ingredients {
    border:#cccccc;
    background-color: #eeeeee;
    float: left;
    max-width: 350px;
    margin: 20px 0;
    padding: 5px;
}