
div.cover-photo-holder img {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.recipe{
    float:left;
    width: 97%;
    margin: 10px 0;
}

div.recipe {
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 600px;
}
@media (min-width: 880px) {
    .recipe {
        width: 500px;
        margin: 10px 10px;
    }
}