
<div class='recipe panel panel-default' (click)="userClickedOnRecipe()">
    <div class="panel panel-default" style="max-width: 500px">
        <div class="panel-heading">
            <h3 class="panel-title">{{recipe.title}}</h3>
        </div>

        <div class="panel-body">
            <div class="cover-photo-holder" style="float: left" *ngIf="recipe.cover_photo">
                <img src="{{recipe.cover_photo}}" style="width: 100px; height: 100px; margin: 2px" />
            </div>
            <p>{{recipe.desc}}</p>
            <div>
                <div style="float: left; font-weight: bold; width: 150px">Preparation Time:</div>
                <div>{{recipe.preparation_time}}</div>

                <div style="float: left; font-weight: bold; width: 150px">Serving For:</div>
                <div>{{recipe.feeds_this_many}}</div>
            </div>
        </div>

    </div>
    <div style="font-size: 75%; cursor:pointer; padding:5px" (click)="fireZoomInEvent()">zoom</div>
</div>