<div style="float: right">
    <input type="button" value="Add New Recipe" (click)="addNewRecipe()" />

    <!-- <input type="button" value="Toggle Dark BG" (click)="toggleDarkBackground()" /> -->
    <!-- <input type="button" value="Toggle Title Color" (click)="toggleTitlecolor()" /> -->
</div>

<!-- <h1 class="{{ use_dark_background ? 'darkbg' : ''}}"> Indori Chaat Recipe</h1> -->
<!-- <h1 [class.darkbg]="use_dark_background"> Indori Chaat Recipe</h1> -->
<!-- <h1 [ngClass]="current_css_classes" [style.color]="title_text_color"> Indori Chaat Recipe</h1>  -->
<h1 [ngClass]="current_css_classes" [ngStyle]="current_css_style"> Indori Chaat Recipe</h1>

<!-- <app-recipe-summary *ngFor="let recipe of recipes" [recipe]="recipe" (zoomIn)="recipeZoomedIn(recipe)"></app-recipe-summary> -->
<app-recipe-summary *ngFor="let recipe of recipes" [recipe]="recipe" (recipeClicked)="recipeClicked($event)">
</app-recipe-summary>

